play-java-jpa-example/project/project
play-java-jpa-example/project/target
play-java-jpa-example/target/
play-java-jpa-example/logs/
play-java-jpa-example/.idea
play-java-jpa-example/app/models/target/
img/
preprocessors__typescript-webpack/node_modules
preprocessors__typescript-webpack/cypress/screenshots/
preprocessors__typescript-webpack/cypress/videos/
deployment/.docker_temp_*
.DS_Store
package-lock.json
*.zip
node_modules