emocial/project/project
emocial/project/target
emocial/target/
emocial/logs/
emocial/.idea
emocial/app/models/target/

preprocessors__typescript-webpack/node_modules
preprocessors__typescript-webpack/cypress/screenshots/
preprocessors__typescript-webpack/cypress/videos/
deployment/.docker_temp_*
.DS_Store
package-lock.json
*.zip
node_modules

preprocessors__typescript/cypress/img