play-java-jpa-example/project
play-java-jpa-example/target/
play-java-jpa-example/logs/
play-java-jpa-example/.idea
play-java-jpa-example/app/models/target/
img/
preprocessors__typescript-webpack/node_modules
