@import views.html.components._
@import java.util.concurrent.CompletionStage

@(header: String, action: () => CompletionStage<Result>) (content: Html){
    @card(){
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@header</h1>
        </div>

        <form class="user" method="POST" action="@routes.LoginController.submitLogin()">
            @content
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="/signUp">Create an Account!</a>
        </div>

}
    }