<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"
    style="
        border-bottom: 5px solid #a4b2ff;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(164, 178, 255);
        font-size: xx-large;">
    <a class="navbar-brand" href="/home">Em🙊cial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav spaced">
            <li class="nav-item">
                <a class="nav-link" href="/home">️📰</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">
@*                    <i class="fas fa-search fa-sm"></i>*@
                    🔎
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myPosts">️👤</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/following">👤➡️👥</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/followers">👥➡️👤</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">👋🏻</a>
            </li>
@*            <li class="nav-item dropdown">*@
@*                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@
@*          Dropdown link*@
@*                </a>*@
@*                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">*@
@*                    <a class="dropdown-item" href="#">Action</a>*@
@*                    <a class="dropdown-item" href="#">Another action</a>*@
@*                    <a class="dropdown-item" href="#">Something else here</a>*@
@*                </div>*@
@*            </li>*@
        </ul>
    </div>
</nav>