@(p: Person, wantButton: Boolean = false, plus: Boolean = false)
<li class="listItem-group-item">
    @card() {
        <div class="row">
            <div class="col-2">
            @if(wantButton) {
                @helper.form(action =
                        if(plus)
                            routes.FollowController.submitFollowWithUsername(p.getUsername)
                        else
                            routes.FollowController.unFollow(p.getUsername)
                ) {
                    @helper.CSRF.formField
                    <button name="personButton" class="btn btn@{
                        if(plus) "-light" else "-danger"
                    } btn-user" >
                        @{
                            if(plus) "➕️👤" else "➖️👤"
                        }
                    </button>
                }
            } else {
                <div class="emojis">
                    <div>👤</div>
                </div>
            }
            </div>
            <div class="col-10">
                <h5>
                    <a href="/posts/@p.getUsername"> @p.getUsername (@p.name) </a>
                </h5>
            </div>
        </div>
    }
</li>