@import views.html.components._

@import helpers.EmojiHelper
@(posts: List[Post], likedIds: List[Long], dislikedIds:List[Long], order:Boolean, wantButton: Boolean = false)

@*@card() {*@
@*    <h2>*@
@*        @{EmojiHelper.intToEmojis(posts.size())}*@
@*        🗒️*@
@*    </h2>*@
@*}*@
@card(){
    <div class="row emojis" style="text-align: center; justify-content: center">
        <h3>🥇🥈🥉</h3>
    </div>

    <div class="emojis row">
        <div class="col-10">
            @helper.form(action = routes.PostController.submitOrder(false)){
                @helper.CSRF.formField
                <label class="btn bnt-secondary">🕰️
                    <input type="radio" onchange="this.form.submit()" @{if(!order)"checked"else{""}}>
                </label>
            }
        </div>

            <!-- Group of default radios - option 2 -->
        <div class="col">
            @helper.form(action = routes.PostController.submitOrder(true)){
                @helper.CSRF.formField
                <label class="btn bnt-secondary">👍
                    <input type="radio" onchange="this.form.submit()" @{if(order)"checked"else{""}}>
                </label>
            }
        </div>
    </div>
}
@ulList() {
    @for(p: Post <- posts) {
        @listItem() {
            @if(likedIds.contains(p.getId)) {
                @post(p, "primary", wantButton)
            } else {
                @if(dislikedIds.contains(p.getId)) {
                    @post(p, "danger", wantButton)
                } else {
                    @post(p, "secondary", wantButton)
                }
            }
        }
    }
}