@import views.html.components._

@(posts: List[Post], likedIds: List[Long], dislikedIds:List[Long], order:Boolean, wantButton: Boolean = false)

@card(){
    <div class="custom-control custom-radio">
        @helper.form(action = routes.PostController.submitOrder(false)){
            @helper.CSRF.formField
            <input type="radio" class="custom-control-input" id="defaultGroupExample1"
            name="groupOfDefaultRadios" onchange="this.form.submit()" @{if(!order)"checked"else{""}}>
            <label class="custom-control-label" for="defaultGroupExample1">Chronological</label>
        }
    </div>

        <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
        @helper.form(action = routes.PostController.submitOrder(true)){
            @helper.CSRF.formField
            <input type="radio" class="custom-control-input" id="defaultGroupExample2"
            name="groupOfDefaultRadios" onchange="this.form.submit()" @{if(order)"checked"else{""}}>

            <label class="custom-control-label" for="defaultGroupExample2">Rating</label>
        }
    </div>
}

@ulList() {
    @for(p: Post <- posts) {
        @listItem() {
            @if(likedIds.contains(p.getId)) {
                @post(p, "primary", wantButton)
            } else {
                @if(dislikedIds.contains(p.getId)) {
                    @post(p, "danger", wantButton)
                } else {
                    @post(p, "secondary", wantButton)
                }
            }
        }
    }
}