@import helpers.EmojiHelper
@(post: Post, colour: String)

<div class="container">
    <div class="row">
        @helper.form(action=
            if(colour.equals("primary"))
                routes.PostController.removeOpinion(post.getId)
            else
                routes.PostController.submitLike(post.getId)
        , Symbol("style") -> "width: 100%"){
            @helper.CSRF.formField

            <div class="emojis">
                <button name="postButton" class="btn btn-@{if(colour.equals("primary")) "success" else "light"} btn-user"
                    style="width: 100%">
                    👍🏻
                </button>
            </div>
        }
    </div>

    <div class="row" style="justify-content: center">
        <form>
            @{EmojiHelper.intToEmojis(post.getRating)}
        </form>
    </div>

    <div class="row">
    @helper.form(action=
        if(colour.equals("danger"))
            routes.PostController.removeOpinion(post.getId)
        else
            routes.PostController.submitDislike(post.getId)
     ,Symbol("style") -> "width: 100%"){
        @helper.CSRF.formField
        <div class="emojis">
            <button name="postButton" class="btn btn-@{if(colour.equals("danger")) colour else "light"} btn-user"
                style="width: 100%">
                👎🏻
    @*            <i class="fas fa-arrow-down"></i>*@
            </button>
        </div>
    }
    </div>
</div>
