@(elements: helper.FieldElements)

<div class="@if(elements.hasErrors) {error}">
    <div class="col">
        <div class = "row">
            <input name="@elements.id" type="@elements.id" class="form-control form-control-user" id="exampleInputPassword" placeholder="@elements.id">
        </div>
        @if(elements.hasErrors){
            <div class = "row">
                <div class="errors alert alert-danger">Error[@elements.id]: @elements.errors.mkString(", ")</div>
            </div>
        }
    </div>
</div>