@import views.html.components._

@(username: String, p: List[Post])

@main("Welcome to Play") {

        @navbar()
        @card(){
            <div class="form-group">
                <h5 class="card-title">
                    Write a post!
                </h5>



                @helper.form(action = routes.PostController.submitPost()) {
                    @helper.CSRF.formField
                     <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                             <div class="row">
                                 <div class="col-8">
                                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit"/>
                                 </div>
                                 <div class="col">
                                    <button type="button" id="emoji-button">emoji</button>
                                 </div>
                             </div>

                }

            </div>
        }
        @posts(p)
}

