@import forms.Login
@import views.html.components._

@(form: Form[Login])

@main("Welcome") {
        <div class="jumbotron verticle-center horizontal-center bg-secondary" style="height: 100%">
            <div class="">
                @cardForm(form, "Welcome back!", "Login",  routes.LoginController.submitLogin() ){
                    @textField(form, "username")
                    @textField(form, "password")
                }{
                    <hr>
                <div class="text-center">
                        <a class="small" href="/signUp">Create an Account!</a>
                </div>
            }
            </div>
        </div>
}