@import views.html.components._
@import views.html.components.errors


@main("Logout?") {
    @navbar("logout")
    @card(){
        <div class="emojis">

        <h2 style="text-align: center">⚠️️👤🔚❓</h2>
            <div style="text-align: center">
            @form(CSRF(routes.LogoutController.logout())) {
                    <button class="btn btn-primary btn-user" >👌</button>

            }
            </div>
        </div>
    }
}
@import views.html.helper.form
@import views.html.helper.CSRF
