@import helpers.EmojiHelper
@import models.Person
@import views.html.components._

@(persons: List[Person], following: Boolean)

    @main("") {
        @navbar(if(following){"following"}else{"followers"})

        @card() {
            <h2>
                @{EmojiHelper.intToEmojis(persons.size())}
                👤
            </h2>
        }
        @ulList() {
            @for(p <- persons) {
                @listItem() {
                    @person(p, following)
                }
            }
        }
    }