@import forms.Search
@import views.html.components.item
@import views.html.components._
@import views.html.templates._
@import views.html.components.errors

@(form: Form[Search], persons: List[Person])

@*@main("Make your post") {*@
@*    <form method="POST" action="@routes.SearchController.submitSearch()">*@
@*        <ul>*@
@*            @item("searchTerms")*@
@*        </ul>*@
@*        <ul>*@
@*        @for(p <- persons){*@
@*            <li>@p.name @p.username</li>*@
@*        }*@
@*        </ul>*@
@*        @errors(form)*@
@*        <button>Submit</button>*@
@*    </form>*@
@*}*@

@main("Welcome to Play") {

    <div id="wrapper">
        @navbar()

        @card(){
@*            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="@routes.PostController.submi()">*@
@*                <div class="input-group">*@
@*                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">*@
@*                    <div class="input-group-append">*@
@*                        <button class="btn btn-primary" type="button">*@
@*                            <i class="fas fa-search"></i>*@
@*                        </button>*@
@*                    </div>*@
@*                </div>*@
@*            </form>*@

            <form method="POST" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            action="@routes.SearchController.submitSearch()">
                           <div class="input-group">
                               @helper.CSRF.formField
                             <input type="text" name="searchTerms" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                               <div class="input-group-append">
                                   <input class="btn btn-primary btn-user btn-block" type="submit" value="Go!" />
                               </div>
                           </div>
                <ul>
                @errors(form)
            </form>

            <hr>
            <ul  class="list-group">
            @for(p <- persons){
                <li class="list-group-item">
                    <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                    @p.getUsername
                </li>
            }

            </ul>

        }


}