@import forms.Search
@import views.html.components.item
@import views.html.components._
@import views.html.templates._
@import views.html.components.errors

@(form: Form[Search], persons: List[Person])

@main("Welcome to Play") {

    <div id="wrapper">
        @navbar()

        @card(){

            <form method="POST" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            action="@routes.SearchController.submitSearch()">
                           <div class="input-group col">
                               @helper.CSRF.formField
                             <input type="text" name="searchTerms" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                               <div class="input-group-append">
                                   <input name="submitSearch" class="btn btn-primary btn-user btn-block" type="submit" value="Go!" />
                               </div>
                           </div>
                @errors(form)
            </form>

            <hr>
            <ul  class="list-group" style="padding-inline-start: 0px">
            @for(p <- persons){
                @person(p, true, true)
            }
            </ul>
    }
}