@import forms.SignUp
@import views.html.components._

@(form: Form[SignUp])

@main("Welcome") {
        @cardForm(form, "Please create an account", "Sign up!",  routes.SignUpController.submitSignUp() ){
            @textField(form, "name")
            @textField(form, "username")
            @textField(form, "password1")
            @textField(form, "password2")
        }{
                <hr>
        <div class="text-center">
                <a class="small" href="/"> Already have an account? Login! </a>
        </div>
        }
}



