@import views.html.components._

@import helpers.EmojiHelper
@(username: String, ps: List[Post], likedIds: List[Long], dislikedIds: List[Long], order:Boolean, deleteButton: Boolean)
@main(username + "'s posts") {
    @navbar("")

    @card(){
        <div class="row">
            <div class="col-6">
                <h1>@username</h1>
            </div>
            <div class="col">
                <h1>@{EmojiHelper.intToEmojis(ps.size())}🗒️@{EmojiHelper.intToEmojis(ps.map(_.getRating).sum)}👍</h1>
            </div>
        </div>
    }

    @posts(ps, likedIds, dislikedIds, order, deleteButton)
}